---
import "../styles/login.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>LoginPage</title>
    </head>
    <body>
        <div class="login-wrapper">
            <form action="">
                <input type="email" placeholder="DHBW-Email or username" />
                <input type="password" placeholder="Password" />
                <button>→</button>
                <a href="/signup">Sign up</a>
                <a href="/startPage" class="skip">Skip →</a>
            </form>
        </div>
    </body>
</html>
